In [1]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Path to chromedriver
#!which chromedriver

In [3]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)

### Visit the NASA Mars News Site

In [4]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [5]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('ul.item_list li.slide')

In [6]:
slide_elem.find("div", class_='content_title')

In [7]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [8]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

### JPL Space Images Featured Image

In [9]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [10]:
# Find and click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [11]:
# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [12]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [13]:
# find the relative image url
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA19330_hires.jpg'

In [14]:
# Use the base url to create an absolute url
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19330_hires.jpg'

### Mars Facts

In [15]:
df = pd.read_html('http://space-facts.com/mars/')[0]

df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [16]:
df.columns=['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Weather

In [18]:
# Visit the weather website
url = 'https://mars.nasa.gov/insight/weather/'
browser.visit(url)

In [19]:
# Parse the data
html = browser.html
weather_soup = soup(html, 'html.parser')

In [20]:
# Scrape the Daily Weather Report table
weather_table = weather_soup.find('table', class_='mb_table')
print(weather_table.prettify())

<table class="mb_table" id="weather_observation" style="width:100%;">
 <thead>
  <tr>
   <th colspan="2" scope="col">
    Time
   </th>
   <th colspan="3" id="temperature_lbl" scope="col">
    Air Temperature (
    <span class="lbl_fahrenheit">
     °F
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_celsius fadeBlack">
     °C
    </span>
    )
   </th>
   <th colspan="4" id="windspeed_lbl" scope="col">
    Wind Speed (
    <span class="lbl_mph">
     mph
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_mps fadeBlack">
     m/s
    </span>
    )
   </th>
   <th colspan="3" id="pressure_lbl" scope="col">
    Pressure (Pa)
   </th>
  </tr>
 </thead>
 <tbody>
  <tr id="weather_top">
   <th class="sol" scope="row">
    Date
   </th>
   <th class="sol" scope="row">
    Sol
   </th>
   <td class="temperature max">
    Max.
   </td>
   <td class="temperature avg">
    Avg.
   </td>
   <td class="temperature min">
    Min.
   </td>
   <td class="windspeed max">
    Max.
   </td>
   <td class="windspeed avg">
    Avg.
   </td>
   <td class="windspeed min">
    Min.
   </td>
   <td class="windspeed direction">
    Direction
    <br/>
    <span style="font-size:x-small">
     (most common)
    </span>
   </td>
   <td class="pressure max">
    Max.
   </td>
   <td class="pressure avg">
    Avg.
   </td>
   <td class="pressure min">
    Min.
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Oct. 25, 2020
   </th>
   <th class="sol" scope="row">
    681
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      24° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -4.4° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -80.4° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -62.4° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -139.8° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -95.4° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     41.6
    </span>
    <span class="mps" style="display:none">
     18.6
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     12.6
    </span>
    <span class="mps" style="display:none">
     5.6
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     0.5
    </span>
    <span class="mps" style="display:none">
     0.2
    </span>
   </td>
   <td class="windspeed point">
    WNW
   </td>
   <td class="pressure max">
    760.2
   </td>
   <td class="pressure avg">
    743.6
   </td>
   <td class="pressure min">
    718.5
   </td>
  </tr>
 </tbody>
</table>

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [21]:
# 1. Use browser to visit the URL 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [22]:
url

'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [23]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []
html = browser.html
html_soup = soup(html, 'html.parser')

# 3. Write code to retrieve the image urls and titles for each hemisphere.

In [24]:
img_titles = []
title_box = html_soup.find_all('div', class_="collapsible results")
img_title = title_box[0].find_all('h3')
for name in img_title:
    img_titles.append(name.text)

img_titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

html = browser.html
soup = soup(html, 'html.parser')


# Search for the names of all four hemispheres
title_box = soup.find_all('div', class_="collapsible results")
img_title = title_box[0].select_one('h3').text

img_title

In [25]:
web_urls = []
url_box = title_box[0].find_all('a')
for image_url in url_box:
    if (image_url.img):
        url = 'https://astrogeology.usgs.gov/' + image_url["href"]
        web_urls.append(url)
web_urls

['https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced']

In [26]:
image_urls = []
for url in web_urls:
    
    browser.visit(url)
    html = browser.html
    image_soup = soup(html, 'html.parser')

    url = image_soup.find("img", class_="wide-image")["src"]
    img_link = 'https://astrogeology.usgs.gov/' + url
    
    image_urls.append(img_link)
image_urls

['https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [28]:
mars_hemi_zip = zip(img_titles, image_urls)

hemisphere_image_urls = []

# Iterate through the zipped object
for title, img in mars_hemi_zip:
    
    mars_hemi_dict = {}
    
    # Add hemisphere title to dictionary
    mars_hemi_dict['title'] = title
    
    # Add image url to dictionary
    mars_hemi_dict['img_url'] = img
    
    # Append the list with dictionaries
    hemisphere_image_urls.append(mars_hemi_dict)

In [29]:
# 5. Quit the browser
browser.quit()

In [30]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]